<div class="container-fluid jumbotron">
    <h2 class="text-center">Enter a new Quote</h2>
    <hr>
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        
        <div class="form-group">
  
            <label for="name"><strong>Quote:</strong></label>
            <textarea class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" rows="4" #name='ngModel' required>
            </textarea>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p>Quote is required</p>
           </div>
        </div>
        
        <div class="form-group">
  
            <label for="author"><strong>Quote Author:</strong></label>
            <input type="text"  class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author='ngModel' required>
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p>Author is required</p>
           </div>
        </div>
        <div class="form-group">
            <label for="publish"><strong>Publish Date:</strong></label>
            <input type='date' id="publish" [(ngModel)]="newQuote.publishDate" name="publishDate" #publishDate='ngModel'required>
            <div [hidden]="publishDate.valid || publishDate.pristine" class="alert alert-danger">
                <p>Publish Date is required</p>
           </div>
        </div>
        <button type="submit" class="btn btn-success">Add Quote</button>
    </form>
    
  </div>
